<!-- LIVE HOME PG CONTENT -->
<div class="row">
    <div class="thrd-w col">
        <div class="pane">
            <h3><a href="http://beta.vam.ac.uk/page/c/current-exhibitions">Exhibitions</a></h3>
            <hr>
            <a title="Exhibitions" href="http://beta.vam.ac.uk/page/c/current-exhibitions"><img width="290" height="163" title="Exhibitions image" alt="Imperial Chinese Robes from the Forbidden City" src="http://beta.vam.ac.uk/homepage/home-images/cult_of_beauty_2_exhb_small.jpg"></a>
        </div>
    </div>
    <div class="thrd-w col edge-l">
        <div class="pane">
            <h3><a href="http://beta.vam.ac.uk/page/w/whats-in-the-v-and-a">What's in the V&amp;A</a></h3>
            <hr>
            <a href="http://beta.vam.ac.uk/page/w/whats-in-the-v-and-a" title="What's in the V&amp;A"><img width="290" height="163" src="http://beta.vam.ac.uk/homepage/home-images/whats_in_vanda.jpg" alt="What's in the V&amp;A image" title="What's in the V&amp;A image"></a>
        </div>
    </div>
    <div class="thrd-w col edge-l">
        <div class="pane">
            <h3><a href="http://www.vandashop.com">V&amp;A Shop</a></h3>
            <hr>
            <a href="http://www.vandashop.com" title="V&amp;A Shop"><img width="290" height="163" src="http://beta.vam.ac.uk/homepage/home-images/shop_yohji_yamamoto_2.jpg" alt="V&amp;A Shop" title="Shop image"></a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col sixth-w">
      <div class="pane">
        <h3><a href="http://beta.vam.ac.uk/page/t/things-to-do-in-the-museum">Things to do</a></h3>
            <hr>
        <a title="Things to do" href="http://beta.vam.ac.uk/page/t/things-to-do-in-the-museum"><img width="130" height="163" title="Things to do image" alt="Things to Do Activity image" src="http://beta.vam.ac.uk/homepage/home-images/things_to_do.jpg"></a>
      </div>
    </div>
    <div class="thrd-w col edge-l">
      <div class="pane">
        <h3><a href="http://www.vam.ac.uk/channel">V&amp;A Channel</a></h3>
        <hr>
        <a title="V&amp;A Channel" href="http://www.vam.ac.uk/channel"><img width="290" height="163" title="V&amp;A channel image" alt="Video Still for V&amp;A Channel" src="http://beta.vam.ac.uk/homepage/home-images/VAchannel-homepage-images.jpg"></a>
      </div>
    </div>
    <div class="col thrd-w edge-l">
        <div class="randomise">
            <div class="pane">
                <h3><a href="http://beta.vam.ac.uk/test-area/rbs/new-linked-content/menu/home-page-feature/support-us">Support us</a></h3>
                <hr>
                <div class="promo">
                    <img alt="" src="http://media.vam.ac.uk/vamembed/filebrowser/image/?version=290x163&amp;image=thumbnails/support-us-homepage-thumb.jpg">
                    <div class="more">
                        <a href="#">View more</a>
                    </div>
                    <div class="promocaption">
                        <div class="pane">
                            <ul class="links">
                                <li><a href="http://beta.vam.ac.uk/page/m/membership">Membership</a></li><li><a href="http://beta.vam.ac.uk/content/articles/h/how-to-support-the-v-and-a">How to support the V&amp;A</a></li><li><a href="http://beta.vam.ac.uk/content/articles/a/appeals">Appeals</a></li><li><a href="http://beta.vam.ac.uk/page/c/corporate-partnerships">Corporate partnerships</a></li><li><a href="http://beta.vam.ac.uk/content/articles/c/corporate-sponsorship">Corporate sponsorship</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pane">
                <h3><a href="http://beta.vam.ac.uk/test-area/rbs/new-linked-content/menu/home-page-feature/activities">Activities</a></h3>
                <hr>
                <div class="promo">
                    <img alt="" src="http://media.vam.ac.uk/vamembed/filebrowser/image/?version=290x163&amp;image=thumbnails/activities-homepage-thumb.jpg">
                    <div class="more">
                        <a href="#">View more</a>
                    </div>
                    <div class="promocaption">
                        <div class="pane">
                            <ul class="links">
                                <li><a href="http://beta.vam.ac.uk/page/f/friday-late">Friday late</a></li><li><a href="http://beta.vam.ac.uk/whatson">What's on</a></li><li><a href="http://beta.vam.ac.uk/page/t/things-to-do-in-the-museum">Things to do in the museum</a></li><li><a href="http://beta.vam.ac.uk/page/t/things-to-do-online">Things to do online</a></li><li><a href="http://beta.vam.ac.uk/page/t/things-to-do-at-home">Things to do at home</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pane">
                <h3><a href="http://beta.vam.ac.uk/test-area/rbs/new-linked-content/menu/home-page-feature/futureplan">FuturePlan</a></h3>
                <hr>
                <div class="promo">
                    <img alt="" src="http://media.vam.ac.uk/vamembed/filebrowser/image/?version=290x163&amp;image=thumbnails/futureplan-homepage-thumb.jpg">
                    <div class="more">
                        <a href="#">View more</a>
                    </div>
                    <div class="promocaption">
                        <div class="pane">
                            <ul class="links">
                                <li><a href="http://beta.vam.ac.uk/page/m/medieval-and-renaissance-galleries">Medieval &amp; Renaissance Galleries</a></li><li><a href="http://beta.vam.ac.uk/page/c/ceramics-galleries">Ceramics Galleries</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col sixth-w edge-l bg">
        <div class="pane">
            <h3>Newsletter Registration</h3>
            <p>Sign up to our mailing list for regular updates</p>
            <form action="http://www.vam.ac.uk/signup">
                <!-- <input type="text" id="email"/> -->
                <input type="submit" value="Register now" class="link" id="submit">
            </form>
            <br/><hr>
            <ul class="plain centre inline">
                <li><a title="Find us on facebook" href="http://www.facebook.com/victoriaandalbertmuseum"><img src="http://media.vam.ac.uk/vamembed/media/versions/uploads/logos/fbk_130x86.jpg"></a></li>
                <li><a title="The V&amp;A on Flickr" href="http://www.flickr.com/groups/va_museum/"><img src="http://media.vam.ac.uk/vamembed/media/versions/uploads/logos/flickr-icon_130x86.jpg"></a></li>
                <li><a title="Follow us on twitter" href="http://twitter.com/V_and_A"><img src="http://media.vam.ac.uk/vamembed/media/versions/uploads/logos/twitter_icon2_130x86.jpg"></a></li>
                <li><a title="The V&amp;A on YouTube" href="http://www.youtube.com/user/vamuseum"><img src="http://media.vam.ac.uk/vamembed/media/versions/uploads/logos/youtube-icon_130x86.jpg"></a></li>
            </ul>
        </div>
    </div>
</div>



<div class="row">
    <div class="thrd-w col">
        <div class="pane">c o n t e n t</div>
    </div>
    <div class="thrd-w col edge-l">
        <div class="pane">c o n t e n t</div>
    </div>
    <div class="thrd-w col edge-l">
        <div class="pane">c o n t e n t</div>
    </div>
</div>

<div class="row">
    <div class="half-w col">
        <div class="pane">c o n t e n t</div>
    </div>
    <div class="half-w col edge-l">
        <div class="pane">c o n t e n t</div>
    </div>
</div>

<div class="row">
    <div class="five-sixths-w col edge-r">
        <div class="pane">c o n t e n t</div>
    </div>
    <div class="sixth-w col">
        <div class="pane">c o n t e n t</div>
    </div>
</div>

<div class="row">
    <div class="thrd-w col">
        <div class="pane">c o n t e n t</div>
    </div>
    <div class="thrd-w col">
        <div class="half-w col edge-l">
            <div class="pane">c o n t e n t</div>
        </div>
        <div class="half-w col edge-l">
            <div class="pane">c o n t e n t</div>
        </div>
    </div>
    <div class="thrd-w col edge-l">
        <div class="pane">c o n t e n t</div>
    </div>
</div>

<div class="row">
    <div class="half-w col">
        <div class="two-thrds-w col">
            <div class="pane">c o n t e n t</div>
        </div>
        <div class="thrd-w col edge-l">
            <div class="pane">c o n t e n t</div>
        </div>
    </div>
    <div class="half-w col">
        <div class="two-thrds-w col edge-l">
            <div class="pane">c o n t e n t</div>
        </div>
        <div class="thrd-w col edge-l">
            <div class="pane">c o n t e n t</div>
        </div>
    </div>
</div>
        
<div class="row">
    <ul class="tabs">
        <li class="active"><a href="#overview">Overview</a></li>
        <li><a href="#albums">Albums</a></li>
        <li><a href="#articles">Saved articles</a></li>
        <li><a href="#uploads">Uploads &amp; Comments</a></li>
        <li><a href="#history">Transaction history</a></li>
        <li><a href="#edit">Edit my details</a></li>
    </ul>
    <div class="pane">
        <h1 class="vimeo">Header 1</h1><h1 class="youtube">Header 1</h1><h1 class="delicious">Header 1</h1><h1 class="facebook">Header 1</h1><h1 class="flickr">Header 1</h1><h1 class="twitter">Header 1</h1><h1 class="wikipedia">Header 1</h1><br />
        <h2 class="vimeo">Header 2</h2><h2 class="youtube">Header 2</h2><h2 class="delicious">Header 2</h2><h2 class="facebook">Header 2</h2><h2 class="flickr">Header 2</h2><h2 class="twitter">Header 2</h2><h2 class="wikipedia">Header 2</h2><br />
        <h3 class="vimeo">Header 3</h3><h3 class="youtube">Header 3</h3><h3 class="delicious">Header 3</h3><h3 class="facebook">Header 3</h3><h3 class="flickr">Header 3</h3><h3 class="twitter">Header 3</h3><h3 class="wikipedia">Header 3</h3><br />
        <h4 class="vimeo">Header 4</h4><h4 class="youtube">Header 4</h4><h4 class="delicious">Header 4</h4><h4 class="facebook">Header 4</h4><h4 class="flickr">Header 4</h4><h4 class="twitter">Header 4</h4><h4 class="wikipedia">Header 4</h4><br />
        <h5 class="vimeo">Header 5</h5><h5 class="youtube">Header 5</h5><h5 class="delicious">Header 5</h5><h5 class="facebook">Header 5</h5><h5 class="flickr">Header 5</h5><h5 class="twitter">Header 5</h5><h5 class="wikipedia">Header 5</h5><br />
        <p class="vimeo">Para</p><p class="youtube">Para</p><p class="delicious">Para</p><p class="facebook">Para</p><p class="flickr">Para</p><p class="twitter">Para</p><p class="wikipedia">Para</p>
    </div>
</div>
