<!-- LIVE LANDING PG CONTENT -->
<div class="row pane">
The current programme of major exhibitions in the V&A. Complementing the Museum's permanent collection, exhibitions look in depth at a broad range of subjects from design and fashion to photography and architecture.
</div>
<div class="list" id="recommendedread">
    <div class="row">
        <div id="link-148755-target-74282" class="odd figure half-w standard-page ">
            <a title="Kitchen clock, by Max Bill, 1956" href="http://beta.vam.ac.uk/content/articles/k/max-bill-kitchen-clock"><img width="130" height="130" class="left" src="http://media.vam.ac.uk/vamembed/filebrowser/image/?version=130x130&amp;image=thumbnails/45253_maxbillclock_object_thumb.jpg" alt=""></a>
            <div class="figcaption">
                <h5><a title="Kitchen clock, by Max Bill, 1956" href="http://beta.vam.ac.uk/content/articles/k/max-bill-kitchen-clock">Kitchen clock, by Max Bill, 1956</a></h5>
                <p>This kitchen clock, which incorporates a mechanical timer, was designed by Max Bill whilst director …</p>
                <a class="more right" href="http://beta.vam.ac.uk/content/articles/k/max-bill-kitchen-clock">Read Article</a>
            </div>
        </div>
        <div id="link-148756-target-74292" class="even figure half-w standard-page ">
            <a title="Penguin Donkey bookcase by Egon Riss and Isokon, 1939" href="http://beta.vam.ac.uk/content/articles/p/isokon-penguin-donkey-bookcase"><img width="130" height="130" class="left" src="http://media.vam.ac.uk/vamembed/filebrowser/image/?version=130x130&amp;image=thumbnails/3673_penguin_donkey_bookcase_object_thumb.jpg" alt=""></a>
            <div class="figcaption">
                <h5><a title="Penguin Donkey bookcase by Egon Riss and Isokon, 1939" href="http://beta.vam.ac.uk/content/articles/p/isokon-penguin-donkey-bookcase">Penguin Donkey bookcase by Egon Riss and Isokon, 1939</a></h5>
                <p>This bookcase was was made by Isokon, probably the most forward-thinking British furniture manufactu…</p>
                <a class="more right" href="http://beta.vam.ac.uk/content/articles/p/isokon-penguin-donkey-bookcase">Read Article</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="link-148757-target-74307" class="odd figure half-w standard-page ">
            <a title="Drinks trolley by Zsuzsa Kozma, 1938-9" href="http://beta.vam.ac.uk/content/articles/d/kozma-drinks-trolley"><img width="130" height="130" class="left" src="http://media.vam.ac.uk/vamembed/filebrowser/image/?version=130x130&amp;image=thumbnails/2006aw1106_kozma_object_thumb.jpg" alt=""></a>
            <div class="figcaption">
                <h5><a title="Drinks trolley by Zsuzsa Kozma, 1938-9" href="http://beta.vam.ac.uk/content/articles/d/kozma-drinks-trolley">Drinks trolley by Zsuzsa Kozma, 1938-9</a></h5>
                <p>This Kozma drinks trolley, designed by Zsuzsa Kozma in Budapest was given to the V&amp;A in 1997. It is …</p>
                <a class="more right" href="http://beta.vam.ac.uk/content/articles/d/kozma-drinks-trolley">Read Article</a>
            </div>
        </div>
        <div id="link-148760-target-119923" class="even figure half-w standard-page ">
            <a title="Archives of Sir Hugh Casson and Margaret Macdonald Casson" href="http://beta.vam.ac.uk/content/articles/a/archives-hugh-casson-margaret-macdonald-casson"><img width="130" height="130" class="left" src="http://media.vam.ac.uk/vamembed/filebrowser/image/?version=130x130&amp;image=thumbnails/50313-large-thumb.jpg" alt=""></a>
            <div class="figcaption">
                <h5><a title="Archives of Sir Hugh Casson and Margaret Macdonald Casson" href="http://beta.vam.ac.uk/content/articles/a/archives-hugh-casson-margaret-macdonald-casson">Archives of Sir Hugh Casson and Margaret Macdonald Casson</a></h5>
                <p>The archives of Sir Hugh Casson (1910&ndash;1999) and Margaret Macdonald Casson (1913&ndash;1999) are important …</p>
                <a class="more right" href="http://beta.vam.ac.uk/content/articles/a/archives-hugh-casson-margaret-macdonald-casson">Read Article</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="link-148758-target-124019" class="odd figure half-w folder ">
            <a title="Curtis Moffat" href="http://beta.vam.ac.uk/people/c/curtis-moffat"><img width="290" height="130" src="http://media.vam.ac.uk/vamembed/filebrowser/image/?version=290x130&amp;image=" alt=""></a>
            <div class="figcaption">
                <h5><a title="Curtis Moffat" href="http://beta.vam.ac.uk/people/c/curtis-moffat">Curtis Moffat</a></h5>
                <a class="more right" href="http://beta.vam.ac.uk/people/c/curtis-moffat">Go to Subject Hub</a>
            </div>
        </div>
        <div id="link-141238-target-123572" class="even figure half-w folder ">
            <a title="Cold War" href="http://beta.vam.ac.uk/page/c/cold-war"><img width="290" height="130" src="http://media.vam.ac.uk/media/website/versions/uploads/" alt=""></a>
            <div class="figcaption">
                <h5><a title="Cold War" href="http://beta.vam.ac.uk/page/c/cold-war">Cold War</a></h5>
                <a class="more right" href="http://beta.vam.ac.uk/page/c/cold-war">Go to Subject Hub</a>
            </div>
        </div>
    </div>
</div>
<div class="pane" id="area3">
    <div id="area3-results">
        <div class="figure row"><a class="left" rel="nofollow" href="http://beta.vam.ac.uk/content/articles/0-9/modern-circus"><img width="130" height="86" alt="Thumbnail of 20th-century circus" src="http://media.vam.ac.uk/media/website/versions/uploads/"></a><div class="figcaption"><h4><a title="20th-century circus" href="http://beta.vam.ac.uk/content/articles/0-9/modern-circus">20th-century circus</a></h4><p>History of circus in Britain in the 20th century</p><a class="more">more</a></div></div>
        <div class="figure row"><a class="left" rel="nofollow" href="http://beta.vam.ac.uk/content/articles/0-9/modern-circus"><img alt="Thumbnail of 20th-century circus" src="http://media.vam.ac.uk/vamembed/filebrowser/image/?image=thumbnails/20th_century_circus_thumb.jpg&amp;version=130x86"></a><div class="figcaption"><h4><a title="20th-century circus" href="http://beta.vam.ac.uk/content/articles/0-9/modern-circus">20th-century circus</a></h4><p>History of circus in Britain in the 20th century</p><a class="more bottom-right">more</a></div></div>
        <div class="figure row"><a class="left" rel="nofollow" href="http://beta.vam.ac.uk/content/articles/h/black-dance"><img alt="Thumbnail of History of Black dance" src="http://media.vam.ac.uk/vamembed/filebrowser/image/?image=thumbnails/2009BY0061_pearl_primus_company_poster_thumb.jpg&amp;version=130x86"></a><div class="figcaption"><h4><a title="History of Black dance" href="http://beta.vam.ac.uk/content/articles/h/black-dance">History of Black dance</a></h4><p>The term black dance describes a range of styles whose origins include: the tribal dances of Africa, the slave dances of the West Indies and the American Deep South, the Harlem social dances of the 1920s and the jazz dance of Broadway musicals. Black dance has often been bound up with social and rights issues. The history of black dance in Britain is relatively young, and the first black British dance company, Ballet Nègres, was formed in 1946.</p><a class="more">more</a></div></div>
        <div class="figure row"><a class="left" rel="nofollow" href="http://beta.vam.ac.uk/content/articles/h/black-dance"><img alt="Thumbnail of History of Black dance" src="http://media.vam.ac.uk/vamembed/filebrowser/image/?image=thumbnails/2009BY0061_pearl_primus_company_poster_thumb.jpg&amp;version=130x86"></a><div class="figcaption"><h4><a title="History of Black dance" href="http://beta.vam.ac.uk/content/articles/h/black-dance">History of Black dance</a></h4><p>The term black dance describes a range of styles whose origins include: the tribal dances of Africa, the slave dances of the West Indies and the American Deep South, the Harlem social dances of the 1920s and the jazz dance of Broadway musicals. Black dance has often been bound up with social and rights issues. The history of black dance in Britain is relatively young, and the first black British dance company, Ballet Nègres, was formed in 1946.</p><a class="more bottom-right">more</a></div></div>
        <div class="figure row"><a class="left" rel="nofollow" href="http://beta.vam.ac.uk/content/articles/c/cinderella-table"><img alt="Thumbnail of 'Cinderella' table, by Jeroen Verhoeven, 2005-6" src="http://media.vam.ac.uk/vamembed/filebrowser/image/?image=thumbnails/2006ax7593_cinderella_object_thumb.jpg&amp;version=130x86"></a><div class="figcaption"><h4><a title="'Cinderella' table, by Jeroen Verhoeven, 2005-6" href="http://beta.vam.ac.uk/content/articles/c/cinderella-table">'Cinderella' table, by Jeroen Verhoeven, 2005-6</a></h4><p>The Cinderella Table is an exploration of the possibilities of CAD-CAM (computer-aided design and computer-aided manufacturing). Verhoeven's table is a reinterpretation of Dutch design traditions through the means of modern technology.</p></div></div>
        <div class="figure row"><a class="left" rel="nofollow" href="http://beta.vam.ac.uk/content/articles/n/nal-modern-calligraphy"><img alt="Thumbnail of National Art Library modern calligraphy collection" src="http://media.vam.ac.uk/vamembed/filebrowser/image/?image=new_images/2010eb6741_reed_illuminated_address.jpg&amp;version=130x86"></a><div class="figcaption"><h4><a title="National Art Library modern calligraphy collection" href="http://beta.vam.ac.uk/content/articles/n/nal-modern-calligraphy">National Art Library modern calligraphy collection</a></h4><p>An article by Rowan Watson on the modern calligraphy collections in the National Art Library. First published in 'Calligraphy Review', Fall 1987.</p></div></div>
        <div class="figure row"><a class="left" rel="nofollow" href="http://beta.vam.ac.uk/content/articles/m/reading-list-modern-indian-art"><img alt="Thumbnail of Modern Indian art reading list" src="http://media.vam.ac.uk/vamembed/filebrowser/image/?image=thumbnails/reading_list_icon.jpg&amp;version=130x86"></a><div class="figcaption"><h4><a title="Modern Indian art reading list" href="http://beta.vam.ac.uk/content/articles/m/reading-list-modern-indian-art">Modern Indian art reading list</a></h4><p>Recommended reading about modern and contemporary Indian art.</p></div></div>
    </div>
    <div id="area3-morebar">
        <a class="more" href="/contentapi/search/?q=Modernism" rel="555">+More on Modernism (555)</a>
    </div>
</div>
<div id="recently-viewed" class="row edge-t" style="display: block;">
    <div class="pane">
        <h3 class="no-margin edge-b">Recently viewed</h3>
    </div>
    <div class="quart-w figure">
        <a href="http://beta.vam.ac.uk/page/c/current-exhibitions"><img alt="" src="http://media.vam.ac.uk/vamembed/filebrowser/image/?image=thumbnails/yohji_yamamoto_exhibition_thumb.jpg&amp;version=130x86"></a>
        <div class="figcaption">
            <h4><a href="http://beta.vam.ac.uk/page/c/current-exhibitions">Current exhibitions</a></h4>
        </div>
    </div>
    <div class="quart-w figure">
        <a href="http://beta.vam.ac.uk/page/j/john-constable-learning-resources"><img alt="" src="http://media.vam.ac.uk/vamembed/media/default/130x86.png"></a>
        <div class="figcaption">
            <h4><a href="http://beta.vam.ac.uk/page/j/john-constable-learning-resources">John Constable learning resources</a></h4>
        </div>
    </div>
    <div class="quart-w figure">
        <a href="http://beta.vam.ac.uk/people/m/man-ray"><img alt="" src="http://media.vam.ac.uk/vamembed/filebrowser/image/?image=header_images/hdr-man-ray-415.jpg&amp;version=130x86"></a>
        <div class="figcaption">
            <h4><a href="http://beta.vam.ac.uk/people/m/man-ray">Man Ray</a></h4>
        </div>
    </div>
</div>


<div class="row pane text">
    <h1>A higher ambition: Owen Jones (1809&ndash;74)</h1>
    <div class="figure right half-w" rel="vamembed">
      <a rel="pop" href="http://media.vam.ac.uk/media/website/uploads/rx_images/image/56001-57000/56332-large.jpg" title="Owen Jones, 'Decoration for the Alhambra Court, South Kensington Museum', 1863. Museum no. E.3608-1931"><img alt="Owen Jones, 'Decoration for the Alhambra Court, South Kensington Museum', 1863. Museum no. E.3608-1931 " src="http://media.vam.ac.uk/vamembed/media/versions/uploads/rx_images/image/56001-57000/56332-large_custom_290x300_05600580.jpg"></a>
      <p class="figcaption editable" id="image_caption" title="Click to edit">Owen Jones, 'Decoration for the Alhambra Court, South Kensington Museum', 1863. Museum no. E.3608-1931</p>
    </div>
    <p><strong>'Form without colour is like a body without a soul'</strong></p>
    <p>Owen Jones was a versatile architect and designer, and one of the most influential design theorists of the 19th century. Through his work at the 1851 Great Exhibition, he was also a key figure in the foundation of the V&amp;A.</p>
    <p>Two hundred years after his birth, Jones's theories on flat patterning and ornament continue to resonate. In his search for a modern style, unique to the 19th century, he looked to the Islamic world for inspiration. The courageous new principles that he devised became the teaching frameworks for the Government School of Design.</p>
    <p>These bold theories on the use of colour, geometry and abstraction formed the basis for Jones's seminal publication, 'The Grammar of Ornament', a design sourcebook that is still in print 150 years later.</p>
    <p>Click on any small image below for a larger version and more information.</p>
    <h3>Early Travel 1832-4</h3>
    <p>Owen Jones grew up in a world dominated by the austere 'whiteness' of Neo-classical architecture. However, recent discoveries had suggested that ancient Greek buildings were originally coloured. The prospect of studying these examples of architectural 'polychromy' would have been irresistible to a young, ambitious architect such as Jones. He embarked on his Grand Tour at the age of 23, visiting Italy, Greece, Egypt and Turkey before arriving in Spain to carry out the studies of the Alhambra Palace that were to cement his reputation.</p>
    <div class="row">
      <div class="figure half-w" rel="vamembed">
        <a rel="pop" href="http://media.vam.ac.uk/media/website/uploads/rx_images/image/56001-57000/56096-large.jpg" title="Owen Jones, 'Tomb near Cairo', 1833. Museum no. SD.532"><img src="http://media.vam.ac.uk/vamembed/media/versions/uploads/rx_images/image/56001-57000/56096-large_290x192.jpg" alt="Owen Jones, 'Tomb near Cairo', 1833. Museum no. SD.532 "></a>
        <div class="figcaption editable">
          Owen Jones, 'Tomb near Cairo', 1833. Museum no. SD.532
        </div>
      </div>
      <div class="figure half-w" rel="vamembed">
        <a rel="pop" href="http://media.vam.ac.uk/media/website/uploads/rx_images/image/56001-57000/56098-large.jpg" title="Owen Jones, 'Tomb near Cairo', 1833. Museum no. SD.533"><img src="http://media.vam.ac.uk/vamembed/media/versions/uploads/rx_images/image/56001-57000/56098-large_290x192.jpg" alt="Owen Jones, 'Tomb near Cairo', 1833. Museum no. SD.533"></a>
        <div class="figcaption editable">
          Owen Jones, 'Tomb near Cairo', 1833. Museum no. SD.533
        </div>
      </div>
    </div>
    <h3>Designs for Tiles &amp; Mosaics</h3>
    <p>The publication of Jones's Alhambra studies firmly established architectural polychromy as an issue for debate and discussion. Inspired by the tilework at the Alhambra, Jones became interested in contemporary developments in mosaics and tessellated pavements. His designs for tiles attracted the attention of key figures associated with Victorian design reform, including Prince Albert, and led to his involvement in the Great Exhibition of 1851.</p>
    <div class="row">
      <div class="figure quart-w">
        <a rel="pop" title="Owen Jones, 'Biscuit tin" href="http://beta.vam.ac.uk/users/node/6025"><img width="130" height="130" alt="Owen Jones, 'Biscuit tin" src="http://beta.vam.ac.uk/users/sites/default/files/imagecache/vam_130px_crop/album_images/56287-large.jpg"><div class="hide popup" data-img="content/img/img_610.jpg"><h4>Caption</h4><p>copy copy copy copy copy copy copy copy copy </p></div></a>
      </div>
      <div class="figure quart-w" rel="vamembed">
        <a rel="pop" href="http://media.vam.ac.uk/media/website/uploads/rx_images/image/56001-57000/56105-large.jpg" title="Owen Jones, 'Designs for mosaics and tessellated pavements', 1842. Museum no. 8115:5"><img src="http://media.vam.ac.uk/vamembed/media/versions/uploads/rx_images/image/56001-57000/56105-large_130x86.jpg" alt="Owen Jones, 'Designs for mosaics and tessellated pavements', 1842. Museum no. 8115:5"><div class="hide popup" data-img="content/img/img_610.jpg"><h4>Caption</h4><p>copy copy copy copy copy copy copy copy copy </p></div></a>
        <div class="figcaption editable">
          Owen Jones, 'Designs for mosaics and tessellated pavements', 1842. Museum no. 8115:5
        </div>
      </div>
      <div class="figure quart-w" rel="vamembed">
        <a rel="pop" href="http://media.vam.ac.uk/media/website/uploads/rx_images/image/56001-57000/56118-large.jpg" title="Owen Jones, 'Design for mosaic floor', 1842. Museum no. 8115:12"><img src="http://media.vam.ac.uk/vamembed/media/versions/uploads/rx_images/image/56001-57000/56118-large_130x86.jpg" alt="Owen Jones, 'Design for mosaic floor', 1842. Museum no. 8115:12"></a>
        <div class="figcaption editable">
          Owen Jones, 'Design for mosaic floor', 1842. Museum no. 8115:12
        </div>
      </div>
      <div class="figure quart-w" rel="vamembed">
        <a rel="pop" href="http://media.vam.ac.uk/media/website/uploads/rx_images/image/56001-57000/56104-large.jpg" title="Owen Jones, 'Original drawing for The Grammar of Ornament (Moresque No. 5)', published 1856. Museum no. 1616"><img src="http://media.vam.ac.uk/vamembed/media/versions/uploads/rx_images/image/56001-57000/56104-large_130x86.jpg" alt="Owen Jones, 'Original drawing for The Grammar of Ornament (Moresque No. 5)', published 1856. Museum no. 1616"></a>
        <div class="figcaption editable">
          Owen Jones, 'Original drawing for The Grammar of Ornament (Moresque No. 5)', published 1856. Museum no. 1616
        </div>
      </div>
    </div>

</div>

<div class="pane">

    <div class="row">
        <div class="edit-wysiwyg">
            <span class="edit-ctrl">
                <a title="104651" class="edit-images">Edit images</a>
                <a title="104651" class="edit-cancel">Cancel</a>
                <a title="104651" class="edit-save">Save</a>
            </span>
            <div id="wysiwyg-edit-area-6" class="editable-area">
                <p><span class="edit-ctrl"><a class="imagearena">I</a></span>This is a second test paragraph. I could go rambling on and on to see how this text is going to wrap around the image of the map which I've got immediately below. Let's have a look, shall we?</p>
                <div rel="vamembed" class="figure half-w right">
                    <span class="edit-ctrl">
                        <a class="imagearena-moveup imagearena">&uarr;</a>
                        <a class="imagearena-movedown imagearena">&darr;</a>
                        <a class="imagearena-moveright imagearena">&rarr;</a>
                        <a class="imagearena-moveleft imagearena">&larr;</a>
                        <a class="imagearena-delete" title="delete">Del</a>
                    </span>
                    <img src="content/img/img_290.jpg" alt="blythehousemap.jpg">
                    <p class="figcaption editable" title="Click to edit" id="image_caption">This is a great little map</p>
                </div>
            </div>
        </div>
    </div>

    <div class="full-w figure">
        <div id="slideshow-2" class="slideshow">
            <div class="slide">
                <img height="344px" width="610px" src="content/img/img_610.jpg" alt="" />
                <div class="html">
                    <div class="black quart-w pane bottom-right"><a href="#">html 1 html 1 html 1 html 1 html 1 html 1 html 1 html 1</a></div>
                </div>
            </div>
            <div class="slide hide">
                <div class="img" id="content/img/header_landing_2.jpg"></div>
                <div class="html">
                    <div class="black quart-w pane bottom-right"><a href="#">html 2 html 2 html 2 html 2 html 2 html 2</a></div>
                </div>
            </div>
            <div class="slide hide">
                <div class="img" id="content/img/header_landing_3.jpg"></div>
                <div class="html">
                    <div class="black quart-w pane bottom-left"><a href="#">html 3 html 3 html 3 html 3 html 3 html 3</a></div>
                </div>
            </div>
            <div class="slide hide">
                <div class="img" id="content/img/header_landing_4.jpg"></div>
                <div class="html">
                    <div class="black quart-w pane right"><a href="#">html 4 html 4 html 4 html 4 html 4 html 4</a></div>
                </div>
            </div>
        </div>
        <div class="figcaption">Image caption, Image caption, Image caption, </div>
    </div>
    
    <img class="left" src="content/img/img_210.jpg" alt="" /><a name="named-anchor"></a>
    
    <div class="audio-wrapper figure quart-w" rel="vamembed-audio">
        <h3>Audio title</h3>
        <p><a href="#" class="showhide-transcript">Show/hide transcript</a></p>
        <div class="audio-transcript">
            <p>I am a poet and I like to write poetry and this is the sound of my voice.</p>
        </div>
    </div>
    c o p y , c o p y , c o p y , c o p y , c o p y , c o p y , c o p y , 
    <div class="figure quart-w right">
        <a href="#" rel="pop"><img src="content/img/img_130.jpg" alt="" /></a>
        <div class="figcaption">Image caption, Image caption, Image caption, </div>
    </div>
    c o p y , c o p y , c o p y , c o p y , c o p y , c o p y , c o p y , 
    c o p y , c o p y , c o p y , c o p y , c o p y , c o p y , c o p y , 
    c o p y , c o p y , c o p y , c o p y , c o p y , c o p y , c o p y , 
    c o p y , c o p y , c o p y , c o p y , c o p y , c o p y , c o p y , 
    c o p y , c o p y , c o p y , c o p y , c o p y , c o p y , c o p y , 
    c o p y , c o p y , c o p y , c o p y , c o p y , c o p y , c o p y , 
    <div class="figure quart-w right">
        <a href="#" rel="pop"><img class="left" src="content/img/img_71.jpg" alt="" /></a>
        <div class="figcaption">c a p t i o n , c a p t i o n , c a p t i o n</div>
    </div>
    c o p y , c o p y , c o p y , c o p y , c o p y , c o p y , c o p y , 
    c o p y , c o p y , c o p y , c o p y , c o p y , c o p y , c o p y , 
    c o p y , c o p y , c o p y , c o p y , c o p y , c o p y , c o p y , 
    c o p y , c o p y , c o p y , c o p y , c o p y , c o p y , c o p y , 
    c o p y , c o p y , c o p y , c o p y , c o p y , c o p y , c o p y , 
    c o p y , c o p y , c o p y , c o p y , c o p y , c o p y , c o p y , 
    c o p y , c o p y , c o p y , c o p y , c o p y , c o p y , c o p y , 
    c o p y , c o p y , c o p y , c o p y , c o p y , c o p y , c o p y , 
    c o p y , c o p y , c o p y , c o p y , c o p y , c o p y , c o p y , 
    c o p y , c o p y , c o p y , c o p y , c o p y , c o p y , c o p y , 
    c o p y , c o p y , c o p y , c o p y , c o p y , c o p y , c o p y , 
    <div class="figure thrd-w">
        <img src="content/img/img_180.jpg" alt="" />
        <div class="figcaption">Image caption, Image caption, Image caption, </div>
    </div>
    c o p y , c o p y , c o p y , c o p y , c o p y , c o p y , c o p y , 
    c o p y , c o p y , c o p y , c o p y , c o p y , c o p y , c o p y , 
    c o p y , c o p y , c o p y , c o p y , c o p y , c o p y , c o p y , 
    c o p y , c o p y , c o p y , c o p y , c o p y , c o p y , c o p y , 
    c o p y , c o p y , c o p y , c o p y , c o p y , c o p y , c o p y , 
    c o p y , c o p y , c o p y , c o p y , c o p y , c o p y , c o p y , 
    c o p y , c o p y , c o p y , c o p y , c o p y , c o p y , c o p y , 
    c o p y , c o p y , c o p y , c o p y , c o p y , c o p y , c o p y , 
    c o p y , c o p y , c o p y , c o p y , c o p y , c o p y , c o p y , 
    c o p y , c o p y , c o p y , c o p y , c o p y , c o p y , c o p y , 
</div>

<div id="recently-viewed"></div>



<div class="row">
    <div class="figure quart-w">
        <img src="content/img/img_130.jpg" alt="" />
        <div class="figcaption">
            <h4>Caption Header</h4>
            <p>Caption paragraph Caption paragraph Caption paragraph Caption paragraph </p>
        </div>
    </div>
    <div class="figure quart-w">
        <img src="content/img/img_130.jpg" alt="" />
        <div class="figcaption">
            <h4>Caption Header</h4>
            <p>Caption paragraph Caption paragraph Caption paragraph Caption paragraph </p>
        </div>
    </div>
    <div class="figure quart-w">
        <img src="content/img/img_130.jpg" alt="" />
        <div class="figcaption">
            <h4>Caption Header</h4>
            <p>Caption paragraph Caption paragraph Caption paragraph Caption paragraph </p>
        </div>
    </div>
    <div class="figure quart-w">
        <img src="content/img/img_130.jpg" alt="" />
        <div class="figcaption">
            <h4>Caption Header</h4>
            <p>Caption paragraph Caption paragraph Caption paragraph Caption paragraph </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="figure thrd-w">
        <img src="content/img/img_71.jpg" alt="" />
        <div class="figcaption">Image caption, Image caption, Image caption, </div>
    </div>
    <div class="figure thrd-w">
        <img src="content/img/img_180.jpg" alt="" />
        <div class="figcaption">Image caption, Image caption, Image caption, </div>
    </div>
    <div class="figure thrd-w">
        <img src="content/img/img_180.jpg" alt="" />
        <div class="figcaption">Image caption, Image caption, Image caption, </div>
    </div>
</div>

<div>
    <div class="figure half-w">
        <img src="content/img/img_290.jpg" alt="" />
        <div class="figcaption">Image caption, Image caption, Image caption, </div>
    </div>
    <div class="half-w col">
        <div class="pane randomise">
            <div class="promo">
                <img src="content/img/img_290.jpg" alt="" />
                <div class="more"><a href="#">View more #1</a></div>
                <div class="promocaption">
                    <div class="pane">
                        <ul class="links">
                            <li><a href="#">Lorem ipsum</a></li>
                            <li><a href="#">Lorem ipsum</a></li>
                            <li><a href="#">Lorem ipsum</a></li>
                            <li><a href="#">Lorem ipsum</a></li>
                            <li><a href="#">Lorem ipsum</a></li>
                            <li><a href="#">Lorem ipsum</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="promo">
                <img src="content/img/img_290.jpg" alt="" />
                <div class="more"><a href="#">View more #2</a></div>
                <div class="promocaption">
                    <div class="pane">
                        <ul class="links">
                            <li><a href="#">dolor sit amet</a></li>
                            <li><a href="#">dolor sit amet</a></li>
                            <li><a href="#">dolor sit amet</a></li>
                            <li><a href="#">dolor sit amet</a></li>
                            <li><a href="#">dolor sit amet</a></li>
                            <li><a href="#">dolor sit amet</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="promo">
                <img src="content/img/img_290.jpg" alt="" />
                <div class="more"><a href="#">View more #3</a></div>
                <div class="promocaption">
                    <div class="pane">
                        <ul class="links">
                            <li><a href="#">erat volutpat</a></li>
                            <li><a href="#">erat volutpat</a></li>
                            <li><a href="#">erat volutpat</a></li>
                            <li><a href="#">erat volutpat</a></li>
                            <li><a href="#">erat volutpat</a></li>
                            <li><a href="#">erat volutpat</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row stripe" id="chron">
    <h3>Chronology<span class="right">1815&mdash;1879</span></h3>
    <ul class="plain split">
        <li>
            <h5><div class="time">June 11, 1815</div></h5>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
        </li>
        <li>
            <h5><div class="time">1834</div></h5>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</p>
        </li>
        <li>
            <h5><div class="time">1838</div></h5>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
        </li>
        <li>
            <h5><div class="time">1856</div></h5>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
        </li>
        <li>
            <h5><div class="time">1871</div></h5>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
        </li>
        <li>
            <h5><div class="time">1879</div></h5>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
        </li>
        <li>
            <h5><div class="time">1879</div></h5>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
        </li>
    </ul>
</div>