<div class="row pane text">
    <h1>British watercolours 1750-1900: depicting trees</h1>
    <div rel="vamembed" class="figure right half-w">
        <a href="#" rel="pop"><img src="http://media.vam.ac.uk/vamembed/media/versions/uploads/rx_images/image/50001-51000/50887-large_custom_290x186_05600361.jpg" alt="Edward Lear, &#39;Cedars of Lebanon&#39;. Museum no. P.4-1930" /></a>  
        <p title="Click to edit" id="image_caption" class="figcaption editable">Edward Lear, &#39;Cedars of Lebanon&#39;. Museum no. P.4-1930</p>
    </div>

    <p>Early 18th century topographical artists had conventionally represented trees using squiggles and zigzags. These indicated the general appearance of a tree rather than the detail of specific types of tree. But as early as 1771 the drawing master Alexander Cozens published &#39;The shape, skeleton and foliage of 32 species of Trees for the use of Painting and Drawing&#39;, illustrating the visible character of various species of trees.</p>

    <p>Trees are an important element in many landscapes and one that artists cannot neglect. Nearly 80 years later the artist and drawing master, James Duffield Harding, published &#39;Lessons on Trees&#39; (1850). Harding recalled how difficult he had found it to draw trees as a student and had vowed that if he became an artist he would share such secrets. It is ironic therefore that the critic John Ruskin once accused Harding, his drawing master, of working in conventional &#39;zigzags&#39;. This was no doubt however because Harding, unlike Ruskin, did not pore over and attempt to draw the tiny detail of each leaf. In fact, although few artists in the 19th century followed the conventions of the 18th century, they were also rarely interested in producing scientific, botanically accurate studies.</p>

    <p>The three very different watercolours here - John Sell Cotman Study of Trees, David Cox Scotch Firs and Edward Lear Cedars of Lebanon - are very individual exercises. In each watercolour, the artist has sought to discover for themselves, and to express, the general external appearance of a specific tree, indicating its masses of foliage and something of the contours formed by the clusters of its leaves. These sketches were primarily for the artist&#39;s own use, exercises in observing the natural world. However, we should not assume that open-air observation and sketching, rather than reliance on established conventions, lead to greater truth to nature in 19th century landscape painting. It is worth remembering that J M W Turner, so much admired by Ruskin, found the native trees of the Alps tedious, and so &#39;planted&#39; his alpine landscapes with the more characterful species he found in England.</p>

    <p>Click on the images below for larger versions.</p>
    <div class="row">
        <div rel="vamembed" class="figure half-w">
            <a href="http://media.vam.ac.uk/vamembed/media/uploads/rx_images/image/50001-51000/50885-large.jpg" rel="pop"><img alt="John Sell Cotman, &#39;A Study of Trees&#39;. Museum no. P.34-1921" src="http://media.vam.ac.uk/vamembed/media/versions/uploads/rx_images/image/50001-51000/50885-large_290x192.jpg" /></a>
            <div class="figcaption editable">
                John Sell Cotman, &#39;A Study of Trees&#39;. Museum no. P.34-1921
            </div>
        </div>

        <div rel="vamembed" class="figure half-w">
            <a href="http://media.vam.ac.uk/vamembed/media/uploads/rx_images/image/50001-51000/50886-large.jpg" rel="pop"><img alt="David Cox Senior, &#39;Scotch Firs&#39;. Museum no. P.9-1922" src="http://media.vam.ac.uk/vamembed/media/versions/uploads/rx_images/image/50001-51000/50886-large_290x192.jpg" /></a>
            <div class="figcaption editable">
                David Cox Senior, &#39;Scotch Firs&#39;. Museum no. P.9-1922
            </div>
        </div>
    </div>
</div>
