<div id="visit-us-layout">
   <div class="thrd-w col edge-r">

      <div id="asset-contents">
         <div class="row pane">
         <h1>Opening times</h1>
         </div>
         <div class="stripe">
         
<div class="row pane" id="content_div_81988">
<div>
  <h2>Museum opening hours</h2>

  <p><strong>Admission to the&nbsp;V&amp;A is free.</strong><br />
  Some exhibitions and events carry a separate charge.</p>

  <p>10.00 to 17.45 daily<br />
  10.00 to 22.00 Fridays (selected galleries remain open after 18.00 )<br />
  Closing commences 10 minutes before time stated</p>

  <p>Closed 24, 25 and&nbsp;26 December</p>

  <p>The tunnel entrance to the V&amp;A is open from 10.00 - 17.40 Saturday to Thursday and 10.00 - 20.00 on Fridays but may be closed on occasion on the advice of London Underground.</p>&nbsp;
</div>

</div>

<div class="row pane" id="new_div_138020">
<h3>The National Art Library</h3>

<p>Tuesday to Saturday 10.00 - 17.30, Friday 10.00 - 18.30</p>

<p>Please go to the <a href="/nal/about/access/opening/index.html">National Art Library pages for full details of opening times and closures</a> .</p>

</div>

<div class="row pane" id="new_div_138018">
<h3>The Prints &amp; Drawings study room and the RIBA Architecture study rooms</h3>

<p>Tuesday to Saturday 10.00 - 17.00</p>

<p>Please go to the <a href="/resources/print_study_reading/index.html" title="">Study Rooms page for more information</a> .</p>

</div>

<div class="row pane" id="new_div_138014">
<h3>Learning &amp; interpretation resource centre</h3>

<p>Every Tuesday from 09.30-16.30.<br />
By appointment only<br />
Please go to the <a href="/resources/li_resource/index.html" title="">Learning &amp; Interpretation Resource Centre</a> page for more information.</p>

</div>

<div class="row pane" id="new_div_138012">
<h3>Indian &amp; South-East Asian study room</h3>

<p>Available by appointment only, from Tuesday to Thursday inclusive.<br />
Please go to the <a href="http://www.vam.ac.uk/resources/print_study_reading/index.html" title="">Study Rooms page for more information</a> .</p>

</div>

<div class="row pane" id="new_div_138008">
<h3>Blythe House archive &amp; library reading room</h3>

<p>Tuesday to Friday, from 10.00 to 16.30, by appointment only.</p>

<p>Please go to the <a href="/resources/archives/index.html" title="">Archives</a> page for more information.</p>

</div>

<div class="row pane" id="new_div_163507">
<h3>Textile Study Rooms, Rooms 95-100</h3>The Textile Study Rooms have closed in preparation for the relocation of the textiles and fashion study collections to new storage at the Clothworkers’ Centre for Textiles and Fashion Study and Conservation at Blythe House, in Kensington Olympia. <a href="http://www.vam.ac.uk/content/articles/t/textile-study-rooms,-95-100-and-the-clothworkers-centre">Read more</a>.

</div>

         </div>
      </div><!-- end pane -->
   </div> <!-- end col two-thrds-w -->

   <div class="two-thrds-w col">
       <div class="row no-margin">
       <div class="pane">
     <img src="http://www.vam.ac.uk/__data/assets/image/0006/167721/opening-times-header.jpg" width="610" height="325" alt="View of the Grand Entrance" title="opening-times" />

     <ul class="inline links">
       <li class="fifth-w"><a href="http://www.vam.ac.uk/whatson/" class="first">What's On</a> </li>
       <li class="fifth-w"><a href="http://www.vam.ac.uk/page/b/booking-and-tickets/">Booking &amp; tickets</a> </li>
       <li class="fifth-w"><a href="http://www.vandashop.com/">Shopping</a> </li>
       <li class="fifth-w"><a href="http://www.vam.ac.uk/page/g/group-tours/">Group tours</a></li>

     </ul>
     </div> <!-- end pane -->
     </div> <!-- end row -->
   

<div class="page-listing">
  <div class="row"><div id="id81986" class="col half-w">
  <div class="pane">
    <h3><a href="http://www.vam.ac.uk/content/visit-us/opening-times">Opening times</a></h3>

    <a title="Opening times" href="http://www.vam.ac.uk/content/visit-us/opening-times"><img src="http://www.vam.ac.uk/__data/assets/image/0006/167721/varieties/gridthumb.jpg" width="290" height="195" alt="View of the Grand Entrance" title="opening-times" /></a>
  </div><!-- end pane -->
</div><!-- end col-->
<div id="id82037" class="col quart-w edge-l">
   <div class="pane">
    <h3><a href="http://www.vam.ac.uk/content/visit-us/getting-here">Getting here</a></h3>
    <a title="Getting here" href="http://www.vam.ac.uk/content/visit-us/getting-here"><img src="http://www.vam.ac.uk/__data/assets/image/0004/167719/varieties/gridthumb.jpg" width="130" height="195" alt="Location map for the V&A, South Kensington, London. Multimap.com, Digital Map Data ©Bartholomew 2003, ©eMapSite.com Ltd. All rights reserved" title="getting-here-map" /></a>
   </div><!-- end pane -->
</div><!-- end col -->

   <div id="id81956" class="col quart-w edge-l">
   <div class="pane">
    <h3><a href="http://www.vam.ac.uk/content/visit-us/facilities">Facilities</a></h3>
    <a title="Facilities" href="http://www.vam.ac.uk/content/visit-us/facilities"><img src="http://www.vam.ac.uk/__data/assets/image/0011/167717/varieties/gridthumb.jpg" width="130" height="195" alt="View of the John Madejski garden" title="facilities" /></a>
   </div><!-- end pane -->
</div><!-- end col -->

   </div>

<div class="row"><div id="id82042" class="col quart-w edge-l">

   <div class="pane">
    <h3><a href="http://www.vam.ac.uk/content/visit-us/map-of-the-museum">Museum map</a></h3>
    <a title="Museum map" href="http://www.vam.ac.uk/content/visit-us/map-of-the-museum"><img src="http://www.vam.ac.uk/__data/assets/image/0005/167720/varieties/gridthumb.jpg" width="130" height="195" alt="V&A aerial view" title="museum-map" /></a>
   </div><!-- end pane -->
</div><!-- end col -->

   <div id="id81951" class="col half-w edge-l">
  <div class="pane">
    <h3><a href="http://www.vam.ac.uk/content/visit-us/eating-and-drinking-at-the-vanda">Eating &amp; drinking</a></h3>

    <a title="Eating &amp; drinking" href="http://www.vam.ac.uk/content/visit-us/eating-and-drinking-at-the-vanda"><img src="http://www.vam.ac.uk/__data/assets/image/0010/167716/varieties/gridthumb.jpg" width="290" height="195" alt="The Gamble Room in the V&A Cafe" title="eating-drinking" /></a>
  </div><!-- end pane -->
</div><!-- end col-->
<div id="id81961" class="col quart-w edge-l">
   <div class="pane">
    <h3><a href="http://www.vam.ac.uk/content/visit-us/gallery-closures">Gallery closures</a></h3>
    <a title="Gallery closures" href="http://www.vam.ac.uk/content/visit-us/gallery-closures"><img src="http://www.vam.ac.uk/__data/assets/image/0003/167718/varieties/gridthumb.jpg" width="130" height="195" alt="A gallery undergoing refurbishment" title="gallery-closures" /></a>
   </div><!-- end pane -->
</div><!-- end col -->

   </div>


</div>
   <div class="row">
        <div class="col thrd-w"><div class="pane"><a href="http://www.timeout.com/london/venue/8766/v-a?DCMP=OBadge-Recommended-v&amp;a" target="_blank"><img src="http://cdn.timeout.com/badge/recommended_by_timeout_red_small.gif" alt="Recommended by Time Out" border="0"></a></div></div>
        <div class="col thrd-w edge-l"><div class="pane"><a href="http://www.visitbritain.tv/partner-channels/va-museum.html" target="_blank"><img src="http://www.visitbritain.tv/vb_icon.gif" alt="VisitBritian TV" width="130" height="29" border="0" /></a></div></div>
        <div class="col thrd-w edge-l"><div class="pane"></div></a></div>
   </div>    </div>  <!-- end two-thrd col-->

</div>