<div class="row pane">
    <ul class="carousel lightbox">
        <li data-cnid="1"><a title="title" href="http://beta.vam.ac.uk/users/node/4280"><img src="content/img/img_71.jpg" alt="" data-noZoom="true" /><div class="hide popup" data-img="http://www.vam.ac.uk/users/sites/default/files/album_images/12495-large.jpg"><h2>Nice thingy</h2><h2>Nice thingy</h2><h2>Nice thingy</h2><h2>Nice thingy</h2><h2>Nice thingy</h2><h2>Nice thingy</h2><h2>Nice thingy</h2><h2>Nice thingy</h2><h2>Nice thingy</h2><h2>Nice thingy</h2><h2>Nice thingy</h2><h2>Nice thingy</h2><h2>Nice thingy</h2><h2>Nice thingy</h2><h2>Nice thingy</h2><p>c o p y c o p y c o p y c o p y c o p y c o p y c o p y c o p y c o p y c o p y c o p y c o p y c o p y c o p y c o p y</p></div></a></li>
        <li class="active"><a title="title" href="#"><img src="content/img/img_71.jpg" alt="" /><div class="hide popup" data-img="http://www.vam.ac.uk/users/sites/default/files/album_images/12493-large.jpg"><h4>Caption</h4><p>copy copy copy copy copy copy copy copy copy </p></div></a></li>
        <li><a title="title" href="http://beta.vam.ac.uk/users/sites/default/files/album_images/41685-large.jpg"><img src="content/img/img_71.jpg" alt="" /></a></li>
        <li><a title="title" href="http://upload.wikimedia.org/wikipedia/commons/3/39/Lichtenstein_img_processing_test.png"><img src="content/img/img_71.jpg" alt="" /></a></li>
        <li><a title="title" href="http://www.stanford.edu/group/Urchin/GIFS/P-test.gif"><img src="content/img/img_71.jpg" alt="" /></a></li>
        <li><a title="title" href="content/img/img_610.jpg"><img src="content/img/img_71.jpg" alt="" /><div class="hide popup" data-img="content/img/img_610.jpg"><h4>Caption</h4><p>copy copy copy copy copy copy copy copy copy </p></div></a></li>
        <li><a title="title" href="content/img/img_610.jpg"><img src="content/img/img_71.jpg" alt="" /></a></li>
        <li><a title="title" href="content/img/img_610.jpg"><img src="content/img/img_71.jpg" alt="" /></a></li>
        <li><a title="title" href="content/img/img_610.jpg"><img src="content/img/img_71.jpg" alt="" /></a></li>
        <li><a title="title" href="content/img/img_610.jpg"><img src="content/img/img_71.jpg" alt="" /></a></li>
        <li><a title="title" href="content/img/img_610.jpg"><img src="content/img/img_71.jpg" alt="" /></a></li>
        <li><a title="title" href="content/img/img_610.jpg"><img src="content/img/img_71.jpg" alt="" /></a></li>
        <li><a title="title" href="content/img/img_610.jpg"><img src="content/img/img_71.jpg" alt="" /></a></li>
        <li><a title="title" href="content/img/img_610.jpg"><img src="content/img/img_71.jpg" alt="" /></a></li>
        <li><a title="title" href="content/img/img_610.jpg"><img src="content/img/img_71.jpg" alt="" /></a></li>
        <li><a title="title" href="content/img/img_610.jpg"><img src="content/img/img_71.jpg" alt="" /></a></li>
        <li><a title="title" href="content/img/img_610.jpg"><img src="content/img/img_71.jpg" alt="" /></a></li>
        <li><a title="title" href="content/img/img_610.jpg"><img src="content/img/img_71.jpg" alt="" /></a></li>
        <li><a title="title" href="content/img/img_610.jpg"><img src="content/img/img_71.jpg" alt="" /></a></li>
        <li><a title="title" href="content/img/img_610.jpg"><img src="content/img/img_71.jpg" alt="" /></a></li>
        <li data-cnid="23"><a title="title" href="http://upload.wikimedia.org/wikipedia/commons/3/39/Lichtenstein_img_processing_test.png"><img src="content/img/img_71.jpg" alt="" /></a></li>
        <li><a title="title" href="content/img/img_610.jpg"><img src="content/img/img_71.jpg" alt="" /></a></li>
        <li><a title="title" href="content/img/img_610.jpg"><img src="content/img/img_71.jpg" alt="" /></a></li>
        <li><a title="title" href="content/img/img_610.jpg"><img src="content/img/img_71.jpg" alt="" /></a></li>
        <li><a title="title" href="content/img/img_610.jpg"><img src="content/img/img_71.jpg" alt="" /></a></li>
        <li><a title="title" href="content/img/img_610.jpg"><img src="content/img/img_71.jpg" alt="" /></a></li>
    </ul>
</div>

<div class="row pane">
    <ul class="carousel">
        <li><a rel="pop" title="title" href="http://beta.vam.ac.uk/users/node/4280" data-popsize="730"><img src="content/img/img_71.jpg" alt="" /><div class="hide popup" data-img="http://www.vam.ac.uk/users/sites/default/files/album_images/12495-large.jpg"><h2>Nice thingy</h2><p>c o p y c o p y c o p y c o p y c o p y c o p y c o p y c o p y c o p y c o p y c o p y c o p y c o p y c o p y c o p y</p></div></a></li>
        <li><a rel="pop" title="title" href="#"><img src="content/img/img_71.jpg" alt="" /><div class="hide popup" data-img="http://www.vam.ac.uk/users/sites/default/files/album_images/12493-large.jpg"><h4>Caption</h4><p>copy copy copy copy copy copy copy copy copy </p></div></a></li>
        <li><a rel="pop" title="title" href="http://beta.vam.ac.uk/users/sites/default/files/album_images/41685-large.jpg"><img src="content/img/img_71.jpg" alt="" /></a></li>
        <li><a rel="pop" title="title" href="http://upload.wikimedia.org/wikipedia/commons/3/39/Lichtenstein_img_processing_test.png"><img src="content/img/img_71.jpg" alt="" /></a></li>
        <li><a rel="pop" title="title" href="http://www.stanford.edu/group/Urchin/GIFS/P-test.gif"><img src="content/img/img_71.jpg" alt="" /></a></li>
        <li><a rel="pop" title="title" href="content/img/img_610.jpg"><img src="content/img/img_71.jpg" alt="" /><div class="hide popup" data-img="content/img/img_610.jpg"><h4>Caption</h4><p>copy copy copy copy copy copy copy copy copy </p></div></a></li>
        <li><a rel="pop" title="title" href="content/img/img_610.jpg"><img src="content/img/img_71.jpg" alt="" /></a></li>
        <li><a rel="pop" title="title" href="content/img/img_610.jpg"><img src="content/img/img_71.jpg" alt="" /></a></li>
        <li><a rel="pop" title="title" href="content/img/img_610.jpg"><img src="content/img/img_71.jpg" alt="" /></a></li>
        <li><a rel="pop" title="title" href="content/img/img_610.jpg"><img src="content/img/img_71.jpg" alt="" /></a></li>
        <li><a rel="pop" title="title" href="content/img/img_610.jpg"><img src="content/img/img_71.jpg" alt="" /></a></li>
        <li><a rel="pop" title="title" href="content/img/img_610.jpg"><img src="content/img/img_71.jpg" alt="" /></a></li>
        <li><a rel="pop" title="title" href="content/img/img_610.jpg"><img src="content/img/img_71.jpg" alt="" /></a></li>
        <li><a rel="pop" title="title" href="content/img/img_610.jpg"><img src="content/img/img_71.jpg" alt="" /></a></li>
        <li><a rel="pop" title="title" href="content/img/img_610.jpg"><img src="content/img/img_71.jpg" alt="" /></a></li>
        <li><a rel="pop" title="title" href="content/img/img_610.jpg"><img src="content/img/img_71.jpg" alt="" /></a></li>
        <li><a rel="pop" title="title" href="content/img/img_610.jpg"><img src="content/img/img_71.jpg" alt="" /></a></li>
        <li><a rel="pop" title="title" href="content/img/img_610.jpg"><img src="content/img/img_71.jpg" alt="" /></a></li>
        <li><a rel="pop" title="title" href="content/img/img_610.jpg"><img src="content/img/img_71.jpg" alt="" /></a></li>
        <li><a rel="pop" title="title" href="content/img/img_610.jpg"><img src="content/img/img_71.jpg" alt="" /></a></li>
        <li><a rel="pop" title="title" href="http://upload.wikimedia.org/wikipedia/commons/3/39/Lichtenstein_img_processing_test.png"><img src="content/img/img_71.jpg" alt="" /></a></li>
        <li><a rel="pop" title="title" href="content/img/img_610.jpg"><img src="content/img/img_71.jpg" alt="" /></a></li>
        <li><a rel="pop" title="title" href="content/img/img_610.jpg"><img src="content/img/img_71.jpg" alt="" /></a></li>
        <li><a rel="pop" title="title" href="content/img/img_610.jpg"><img src="content/img/img_71.jpg" alt="" /></a></li>
        <li><a rel="pop" title="title" href="content/img/img_610.jpg"><img src="content/img/img_71.jpg" alt="" /></a></li>
        <li><a rel="pop" title="title" href="content/img/img_610.jpg"><img src="content/img/img_71.jpg" alt="" /></a></li>
    </ul>
</div>

<div class="row">
    <div class="figure half-w" rel="vamembed">
        <a rel="#popup" href="#" title="Charles Clifford, 'Court of the Lions, Alhambra Palace, Granada', about 1860. Museum no. 47:790"><img src="http://media.vam.ac.uk/vamembed/media/versions/uploads/new_images/2009ce1149_paris_vase_290x290.jpg" alt="Charles Clifford, 'Court of the Lions, Alhambra Palace, Granada', about 1860. Museum no. 47:790"></a>
        <div class="figcaption editable">
            Charles Clifford, 'Court of the Lions, Alhambra Palace, Granada', about 1860. Museum no. 47:790
        </div>
    </div>
    <div class="figure half-w" rel="vamembed">
        <a rel="pop" href="#"><img src="http://media.vam.ac.uk/vamembed/media/versions/uploads/rx_images/image/56001-57000/56332-large_custom_290x300_05600580.jpg" alt="Charles Clifford, 'Court of the Lions, Alhambra Palace, Granada', about 1860. Museum no. 35:508"></a>
        <div class="figcaption editable">
            <h4>Charles Clifford, 'Court of the Lions, Alhambra Palace, Granada'</h4><p>about 1860. Museum no. 35:508</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="five-sixths-w col">
        <div class="half-w col">
            <div class="pane">
                <ul class="carousel">
                    <li><a rel="pop" href="content/img/img_610.jpg"><img src="content/img/img_71.jpg" alt="" /></a></li>
                    <li><a rel="pop" href="http://beta.vam.ac.uk/users/sites/default/files/album_images/41685-large.jpg"><img src="content/img/img_71.jpg" alt="" /></a></li>
                    <li><a rel="pop" href="content/img/img_610.jpg"><img src="content/img/img_71.jpg" alt="" /></a></li>
                    <li><a rel="pop" href="http://upload.wikimedia.org/wikipedia/commons/3/39/Lichtenstein_img_processing_test.png"><img src="content/img/img_71.jpg" alt="" /></a></li>
                    <li><a rel="pop" href="content/img/img_610.jpg"><img src="content/img/img_71.jpg" alt="" /></a></li>
                    <li><a rel="pop" href="http://www.stanford.edu/group/Urchin/GIFS/P-test.gif"><img src="content/img/img_71.jpg" alt="" /></a></li>
                </ul>
            </div>
        </div>
        <div class="half-w col edge-l">
            <div class="pane">
                <ul class="carousel">
                    <li><a rel="pop" href="content/img/img_610.jpg"><img src="content/img/img_71.jpg" alt="" /></a></li>
                    <li><a rel="pop" href="content/img/img_610.jpg"><img src="content/img/img_71.jpg" alt="" /></a></li>
                    <li><a rel="pop" href="content/img/img_610.jpg"><img src="content/img/img_71.jpg" alt="" /></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="sixth-w col edge-l">
        <div class="pane">
            pane pane pane pane pane pane pane pane pane pane pane pane pane pane pane pane pane pane pane pane pane pane pane 
        </div>
    </div>
</div>

<div class="row">
    <div class="half-w col">
        <div class="pane">
            <ul class="carousel">
                <li><a rel="pop" href="content/img/img_610.jpg"><img src="content/img/img_71.jpg" alt="" /></a></li>
                <li><a rel="pop" href="http://beta.vam.ac.uk/users/sites/default/files/album_images/41685-large.jpg"><img src="content/img/img_71.jpg" alt="" /></a></li>
                <li><a rel="pop" href="content/img/img_610.jpg"><img src="content/img/img_71.jpg" alt="" /></a></li>
                <li><a rel="pop" href="http://upload.wikimedia.org/wikipedia/commons/3/39/Lichtenstein_img_processing_test.png"><img src="content/img/img_71.jpg" alt="" /></a></li>
                <li><a rel="pop" href="content/img/img_610.jpg"><img src="content/img/img_71.jpg" alt="" /></a></li>
                <li><a rel="pop" href="http://www.stanford.edu/group/Urchin/GIFS/P-test.gif"><img src="content/img/img_71.jpg" alt="" /></a></li>
            </ul>
        </div>
    </div>
    <div class="half-w col edge-l">
        <div class="pane">
            <ul class="carousel">
                <li><a rel="pop" href="content/img/img_610.jpg"><img src="content/img/img_71.jpg" alt="" /></a></li>
                <li><a rel="pop" href="content/img/img_610.jpg"><img src="content/img/img_71.jpg" alt="" /></a></li>
                <li><a rel="pop" href="content/img/img_610.jpg"><img src="content/img/img_71.jpg" alt="" /></a></li>
                <li><a rel="pop" href="content/img/img_610.jpg"><img src="content/img/img_71.jpg" alt="" /></a></li>
                <li><a rel="pop" href="content/img/img_610.jpg"><img src="content/img/img_71.jpg" alt="" /></a></li>
                <li><a rel="pop" href="content/img/img_610.jpg"><img src="content/img/img_71.jpg" alt="" /></a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="thrd-w col">
        <div class="pane">
            <ul class="carousel">
                <li><a rel="pop" href="content/img/img_610.jpg"><img src="content/img/img_71.jpg" alt="" /></a></li>
                <li><a rel="pop" href="content/img/img_610.jpg"><img src="content/img/img_71.jpg" alt="" /></a></li>
                <li><a rel="pop" href="content/img/img_610.jpg"><img src="content/img/img_71.jpg" alt="" /></a></li>
                <li><a rel="pop" href="content/img/img_610.jpg"><img src="content/img/img_71.jpg" alt="" /></a></li>
                <li><a rel="pop" href="content/img/img_610.jpg"><img src="content/img/img_71.jpg" alt="" /></a></li>
                <li><a rel="pop" href="content/img/img_610.jpg"><img src="content/img/img_71.jpg" alt="" /></a></li>
            </ul>
        </div>
    </div>
    <div class="two-thrds-w col edge-l">
        <div class="pane">
            <ul class="carousel">
                <li><a rel="pop" href="content/img/img_610.jpg"><img src="content/img/img_71.jpg" alt="" /></a></li>
                <li><a rel="pop" href="content/img/img_610.jpg"><img src="content/img/img_71.jpg" alt="" /></a></li>
                <li><a rel="pop" href="content/img/img_610.jpg"><img src="content/img/img_71.jpg" alt="" /></a></li>
                <li><a rel="pop" href="content/img/img_610.jpg"><img src="content/img/img_71.jpg" alt="" /></a></li>
                <li><a rel="pop" href="content/img/img_610.jpg"><img src="content/img/img_71.jpg" alt="" /></a></li>
                <li><a rel="pop" href="content/img/img_610.jpg"><img src="content/img/img_71.jpg" alt="" /></a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col two-thrds-w">
        <div class="pane">
            <h3>Description</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce adipiscing ipsum ac nisi interdum at posuere nulla vehicula. Nulla at dui turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed cursus, dui eget auctor iaculis, ante magna cursus ipsum, nec fringilla purus erat eget ipsum. Sed posuere lectus nec odio sollicitudin egestas eu non turpis. Morbi tincidunt ornare lacinia</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce adipiscing ipsum ac nisi interdum at posuere nulla vehicula. Nulla at dui turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed cursus, dui eget auctor iaculis, ante magna cursus ipsum, nec fringilla purus erat eget ipsum. Sed posuere lectus nec odio sollicitudin egestas eu non turpis. Morbi tincidunt ornare lacinia</p>
        </div>
    </div>
    <div class="col thrd-w edge-l">
        <div class="related-images pane">
            <h3>Images from the collections</h3>
            <div>
                <a rel="pop" href="#"><img src="content/img/img_71.jpg" alt="" /></a>
                <a rel="pop" href="#"><img src="content/img/img_71.jpg" alt="" /></a>
                <a rel="pop" href="#"><img src="content/img/img_71.jpg" alt="" /></a>
                <a rel="pop" href="#"><img src="content/img/img_71.jpg" alt="" /></a>
                <a rel="pop" href="#"><img src="content/img/img_71.jpg" alt="" /></a>
                <a rel="pop" href="#"><img src="content/img/img_71.jpg" alt="" /></a>
                <a rel="pop" href="#"><img src="content/img/img_71.jpg" alt="" /></a>
                <a rel="pop" href="#"><img src="content/img/img_71.jpg" alt="" /></a>
            </div>
            <a class="more right clear" href="#">View more images</a>
        </div>
    </div>
</div>

<div class="pane">
    <h3>Description</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce adipiscing ipsum ac nisi interdum at posuere nulla vehicula. Nulla at dui turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed cursus, dui eget auctor iaculis, ante magna cursus ipsum, nec fringilla purus erat eget ipsum. Sed posuere lectus nec odio sollicitudin egestas eu non turpis. Morbi tincidunt ornare lacinia</p>
</div>