<ul class="more inline right mobile">
    <li><a href="#toc">Contents</a></li>
</ul>

<div class="pane">
    <h2>Highlights in this issue</h2>
</div> 
<hr />

<div class="row no-margin">
    <div class="figure half-w">
        <img src="content/img/img_290.jpg" alt="" />
        <div class="figcaption">
            <h4>Article title</h4>
            <p>Author’s name,<br>Job title</p>
            <p>Diam, facilisis quis, commodo vitae, dapibus a, ligula. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam consectetur imperdiet lacus. Duis rutrum placerat dui. Fusce ultricies, diam eu lobortis eleifend, ant 256 ch</p>
            <a class="more" href="#">Read the full article</a>
        </div>
    </div>
    <div class="figure half-w edge-l">
        <img src="content/img/img_290.jpg" alt="" />
        <div class="figcaption">
            <h4>Article title</h4>
            <p>Author’s name,<br>Job title</p>
            <p>Diam, facilisis quis, commodo vitae, dapibus a, ligula. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam consectetur imperdiet lacus. Duis rutrum placerat dui. Fusce ultricies, diam eu lobortis eleifend, ant 256 ch</p>
            <a class="more" href="#">Read the full article</a>
        </div>
    </div>

    <div class="pane"></div>
    <hr />


    <div class="figure half-w">
        <img src="content/img/img_290.jpg" alt="" />
        <div class="figcaption">
            <h4>Article title</h4>
            <p>Author’s name,<br>Job title</p>
            <p>Diam, facilisis quis, commodo vitae, dapibus a, ligula. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam consectetur imperdiet lacus. Duis rutrum placerat dui. Fusce ultricies, diam eu lobortis eleifend, ant 256 ch</p>
            <a class="more" href="#">Read the full article</a>
        </div>
    </div>
    <div class="figure half-w edge-l">
        <img src="content/img/img_290.jpg" alt="" />
        <div class="figcaption">
            <h4>Article title</h4>
            <p>Author’s name,<br>Job title</p>
            <p>Diam, facilisis quis, commodo vitae, dapibus a, ligula. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam consectetur imperdiet lacus. Duis rutrum placerat dui. Fusce ultricies, diam eu lobortis eleifend, ant 256 ch</p>
            <a class="more" href="#">Read the full article</a>
        </div>
    </div>
</div>

<div class="row pane bg">
    <a class="share" href="#">Share this</a>
</div>

<div class="row">
    <hr class="thick" />
</div>
