<div class="stripe">
    <h3>Conservation Journal: Spring 2009 &ndash; No. 57</h3>
    <ul class="links">
        <li><a href="#">Contents page</a></li>
        <li><a href="#">Editorial</a></li>
        <li><a href="#">Observations on the causes of flaking in East</a></li>
        <li><a href="#">Conservation of a ninth-century bowl from Iraq</a></li>
        <li><a href="#">RCA V&amp;A Conservation: In-post MA for conservation professionals</a></li>
        <li><a href="#">Editorial</a></li>
        <li><a href="#">Observations on the causes of flaking in East</a></li>
        <li><a href="#">Conservation of a ninth-century bowl from Iraq</a></li>
        <li><a href="#">RCA V&amp;A Conservation: In-post MA for conservation professionals</a></li>
        <li><a href="#">Editorial</a></li>
        <li><a href="#">Observations on the causes of flaking in East</a></li>
        <li><a href="#">Conservation of a ninth-century bowl from Iraq</a></li>
        <li><a href="#">RCA V&amp;A Conservation: In-post MA for conservation professionals</a></li>
        <li><a href="#">Editorial</a></li>
        <li><a href="#">Observations on the causes of flaking in East</a></li>
        <li><a href="#">Conservation of a ninth-century bowl from Iraq</a></li>
        <li><a href="#">RCA V&amp;A Conservation: In-post MA for conservation professionals</a></li>
        <li class="more"><a href="#">Download the full issue as a PDF</a></li>
    </ul>
</div>

<div class="pane">
    <h3>Exhibitions</h3>
    <div class="promo">
        <img src="content/img/img_290.jpg" alt="" />
        <div class="more"><a href="#">View more</a></div>
        <div class="promocaption">
            <div class="pane">
                <ul class="links">
                    <li><a href="#">Lorem ipsum Lorem ipsum Lorem ipsum </a></li>
                    <li><a href="#">Lorem ipsum</a></li>
                    <li><a href="#">Lorem ipsum</a></li>
                    <li><a href="#">Lorem ipsum</a></li>
                    <li><a href="#">Lorem ipsum</a></li>
                    <li><a href="#">Lorem ipsum</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
