@media screen and (max-width:640px) {
    .handheld { display:block; }
    img, iframe, embed, object, video, canvas { height:auto; max-width:100%; }
    #wrapper, .header { width:100%; padding:0; }
    #content>.col { margin-bottom:0; padding-bottom:0; width:100%; }
    #header-nav, #head-info, .slide { display:none!important; }
    #header { margin:6px 0 0; text-align:center; }
    #header .header, #header .header #logo { background:0!important; border:0!important; color:#666!important; }
    #header .header #logo img { margin:0 4px 0 0; visibility:visible!important; width:48px; }
    #header #landing { background:0!important; color:#666!important; height:auto!important; padding:0.75em 8px 0.3em!important; text-align:left; width:auto; }
    .header form.searchbar { position:relative; width:65%; }
    .header input#query { background:0!important; float:left; font-size:1.4em; position:absolute; left:0; top:2px; width:85%; }
    .subnav .pane { display:block; float:left; }
    #mobile-nav { display:block; }
    .footer>.row, #footer>ul { font-size:1.34em; padding:8px 0; }
    #footer-nav { padding:0; }
    #footer-nav>.pane, #footer-nav>.pane>h6, #footer-nav>.pane>ul, #footer-nav>.pane>ul>li, #footer-nav>.pane>ul>li>a { background:0; display:inline-block; font-weight:800; margin:0; padding:0!important; text-align:center; width:100%!important; }
    #footer-nav>.pane>h6, #footer-nav>.pane>ul>li>a { border:1px dotted #ddd; padding:6px 0!important; text-decoration:none; width:100%; }
    #footer-nav>.pane>h6 { background:#ddd; }
    #footer-nav>.pane>ul { text-align:left; }
    #footer-nav>.pane>ul>li { width:50%!important; }
    #footer { text-align:center; }
    #footer>ul { float:none!important; margin:0; }
    #footer>.flags>li { margin:0 1%; }
    #footer>#foot-links>li { display:inline-block; }
    .page-header>form>select { font-size:1.35em; margin:10px 0; text-align:right; }
    .page-header>form>select>option { margin:1em 0; padding-right:1em!important; }
    .half-w { width:49.83%!important; }
    .quart-w { width:24.6%!important; }
    .sixth-w, .two-thrds-w, .three-quarts-w, .five-sixths-w { min-width:33.29%!important; }
    .figure img, .figure iframe, .figure embed, .figure object, .figure video, .figure canvas { max-width:90%; }
    .pane>.figure img, .pane>.figure iframe, .pane>.figure embed, .pane>.figure object, .pane>.figure video, .pane>.figure canvas { max-width:95%; }
    #visit-us-layout>.col { width:100%; }
    .input-menu { font-size:1.2em; margin-left:-30px; }
    .input-menu li { margin:1em 0; }
    .aligned.figure { min-height:10.5em; }
    #content>.col:last-child.thrd-w .figure img { float:left; }
    #content>.col:last-child.thrd-w h3+.figure, #content>.col:last-child.thrd-w h4+.figure, #content>.col:last-child.thrd-w h5+.figure, #content>.col:last-child.thrd-w h6+.figure { margin-top:-8px; }
}
@media screen and (max-width:320px) {
    /* single col */
    h1 { font-size:1.65em; line-height:1.25em; }
    .header input#query { width:78%; }
    #mobile-nav>ul>li { width:50%; }
    .five-sixths-w, .three-quarts-w, .half-w, .thrd-w, .quart-w, .sixth-w, .two-thrds-w { width:100%!important; }
    .figure img, .figure iframe, .figure embed, .figure object, .figure video, .figure canvas { max-width:94%; }
    .list .row>.figure:not(.row)+.figure { border-left:0; border-top:1px dotted #ddd; }
    .related-images { padding-left:3px; padding-right:3px; }
}
@media screen and (min-width:321px) and (max-width:640px), screen and (max-width:319px) {
    .pane { padding:8px; }
    .figure { padding:8px 0; }
    .figure img, .figure object, .figure iframe, .figcaption { margin:0 0.32em 0 8px!important; }
    .figure .left+.figcaption { margin:0.32em!important; }
    .pane .figcaption .bottom-right { bottom:8px; }
    .pane .figure.row { padding-bottom:8px; }
}
@media screen and (max-width:220px) {
    #footer-nav>.pane>ul>li { width:100%!important; }
    .figure img, .figure iframe, .figure embed, .figure object, .figure video, .figure canvas { width:92%; }
}