/* Overrides for alternative colour scheme
-------------------------------------------------------------- */

#content input[type="submit"], #content input[type="button"], #content input[type="reset"], 
#content .more a, #content a.more, #content a.light, #content .promo .more { background-color:#c5d33e!important; }

#content .bg, #content .stripe { background-color:#f3f5dd; }
#content .bg2 { background-color:#fafaf2!important; }
#content .stripe>h3:nth-child(2n), #content .stripe>ul:nth-child(2n)>li:nth-child(2n+1), #content .stripe>ul:nth-child(2n+1)>li:nth-child(2n), #content .stripe>.pane:nth-child(2n) { background-color:#fafaf2; }

#content hr.thick { background-color:#a5a826; color:#a5a826; }
.page-header { background-color:#a5a826; color:#fff; }

.carousel li.active img { border-color:#a5a826; }

#content h3 { font-size:150%; font-weight:normal; }

#comments ul.links li {
    background: none repeat scroll 0 0 #c5d33e!important;
    padding: 5px !important;
    text-transform: capitalize;
}

#content a.back {
	background-color: #f3f5dd!important;
}

.pane-vam-user-utilities-panel-pane-1 {
	background-color:#f3f5dd;
}
